<table>
  <tr>
    <th>Primary JTBD's</th>
    <th>Secondary JTBD's</th>
    <th>Maturity</th>
    <th>Confidence</th>
    <th>Most recent source</th>
  </tr>
  <% data.jobs_to_be_done.each do |primary_jtbd| %>
    <% if primary_jtbd.group == stage_key && (primary_jtbd.parent.nil? || primary_jtbd.parent.empty?) %>
      <tr>
        <td>
          <strong><%= primary_jtbd.short_jtbd %></strong> <%= primary_jtbd.jtbd %>
        </td>
        <td></td>
        <td>
          <%= ux_grade(primary_jtbd.grade) %>
        </td>
        <td>
          <%= primary_jtbd.confidence %>
        </td>
        <td>
          <a href="<%= primary_jtbd.source %>"><%= primary_jtbd.source %></a>
        </td>
      </tr>
      <% data.jobs_to_be_done.each do |secondary_jtbd| %>
        <% if primary_jtbd.group == stage_key && (secondary_jtbd.parent == primary_jtbd.slug) %>
          <tr>
            <td></td>
            <td>
              <strong><%= secondary_jtbd.short_jtbd %></strong> <%= secondary_jtbd.jtbd %>
            </td>
            <td>
              <%= ux_grade(secondary_jtbd.grade) %>
            </td>
            <td>
              <%= secondary_jtbd.confidence %>
            </td>
            <td>
              <a href="<%= secondary_jtbd.source %>"><%= secondary_jtbd.source %></a>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</table>
